.carousel-item {
  height: 500px;
  margin-bottom: 20px;
}
.carousel-item img {
  height: 500px;
}
.card {
  height: 500px;
  width: 370px;
  margin: auto;
}
.card img {
  height: 300px;
  width: 260px;
  border: solid;
  border-style: ridge;
  margin: auto;
}
.btn-primary {
  margin-top: 16px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}
.icon img {
  height: 30px;
  width: 30px;
}
